[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"

[dev-packages]
ansible-lint = "*"
ansible-navigator = "*"

[requires]
python_version = "3.12"

[scripts]
lint = "ansible-lint"
